extends layout/base 
block content 
	section.content-header 
	section.content
		.box
			.box-header.with-border
				i.fa.fa-dollar
				h3.box-title
					|Budget
			.box-body
				| Start Creating your amazing application!
			.box-footer
				| Footer