extends layout/base
block content 
	section.content-header 
	section.content
		.box#dets_box
			.box-header
				i.fa.fa-eye
				h3.box-title
					|Detections

				.box-tools.pull-right
					a(type="button" href='/dets' class="btn btn-default btn-sm")
						i.fa.fa-sync-alt
			.box-body
				.container(style='width: 100%;')
					.row(style='width: 100%;')
						div
							table#dets.display.table-bordered.row-border(name="dets_table")
								thead
									tr
										th 
										th Id
										th Feed Title
										th Track Title
										//th Date
										th Analized block TS
										th Begin shift (ms)
										th End shift (ms)
										th Type
										th Warnings
										//th Quants
										th Acceptance
										th
										th
										th 
								tbody
								tfoot
									tr
										th 
										th Id
										th Feed Title
										th Track Title
										//th Date
										th Analized block TS
										th Begin shift (ms)
										th End shift (ms)
										th Type
										th Warnings
										//th Quants
										th Acceptance
										th
										th
										th 
block javascript
	script(type='text/javascript', src='/dets.js')
