title
    |#{title}

meta(charset='UTF-8')
meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name='viewport')

link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css')

link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css")

//ADMINLTE
link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.15/css/AdminLTE.min.css')
link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.15/css/skins/_all-skins.min.css')

//link(rel="stylesheet", href='https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.16/css/jquery.dataTables.min.css')
link(rel="stylesheet" href='https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css' type='text/css')

link(rel="stylesheet" href='https://cdn.datatables.net/rowreorder/1.2.5/css/rowReorder.dataTables.min.css' type='text/css')
link(rel="stylesheet" href='https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css' type='text/css')

link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/iCheck/1.0.2/skins/square/blue.css')

link(rel='stylesheet', href='/ear.css')
 
 

