script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')

script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js')

//ADMINLTE
//script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.15/js/adminlte.min.js')
script(type='text/javascript', src='./adminlte.js')



script(type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js")
//script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.16/js/jquery.dataTables.min.js')

script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js')
script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js')

script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/iCheck/1.0.2/icheck.min.js')

//for BS3
script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-filestyle/1.2.3/bootstrap-filestyle.min.js')


script(type='text/javascript', src='/ear.js')
